<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
<section id="mainPage">
	<div class="overlay"></div>

	<div class="content">
	  <a href="index.html">
	    <img ng-src="/images/logo.png" id="headerPic">
	  </a>
	  <h1>A Home Dinner Service</h1>
	  <h3>From the best chefs in the world<br>directly into your kitchen</h3>
	  <a  href="#/search" id="createButton" class="btn btn-primary btn-lg" role="button">Get started</a>
	</div>
</section>